<footer class="pt-4">
  <div class="container-fluid text-center text-md-left bg-dark text-white">
    <div class="container pt-4">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Nội Dung Footer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim, metus at ultricies porta, ante tortor venenatis dolor, in imperdiet felis diam vitae ante. Nunc et lacus eget urna mattis efficitur. In hac habitasse platea dictumst. Sed turpis odio, laoreet eu posuere ut, vehicula et augue.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Đường Dẫn Liên Kết</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Đường Dẫn 1</a>
          </li>
          <li>
            <a href="#!">Đường Dẫn 2</a>
          </li>
          <li>
            <a href="#!">Đường Dẫn 3</a>
          </li>
          <li>
            <a href="#!">Đường Dẫn 4</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Đường Dẫn Liên Kết</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Đường Dẫn 1</a>
          </li>
          <li>
            <a href="#!">Đường Dẫn 2</a>
          </li>
          <li>
            <a href="#!">Đường Dẫn 3</a>
          </li>
          <li>
            <a href="#!">Đường Dẫn 4</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center py-3">© 2020 Copyright:
      <a href="http://www.niemvuilaptrinh.com/" target="_blank"> Niềm Vui Lập Trình</a>
    </div>
  </div>
</div>
</footer>